.title {
    font-size:xx-large;
    text-align:center;
}
.quirk {
    font-size:small;
    color:darkslategray;
    width:200px;
    word-wrap:break-word;
    white-space:initial;
}
.listItem {
    font-size:small;
    color:darkslategray;
    width:250px;
    word-wrap:break-word;
    white-space:initial;
}