<ion-header>
  <ion-toolbar>
    <ion-title>Character</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
    
    <ion-list inset="true">
      <ion-item>
        <h1 class="title" >{{character.name}}</h1>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Description</h2>
          <p class="listItem">{{character.description}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Homeland</h2>
          <button (click)="nav()" class="listItem">{{character.homeland.name}}</button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Quirks</h2>
          <ion-list *ngFor="let quirk of (character.quirks)" inset="false">
            <ion-item>
              <ion-label>
                <p class="quirk">{{quirk}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Goal</h2>
          <p class="listItem">{{character.goal}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

   

</ion-content>
<ion-footer>
  <ion-toolbar style="text-align:center">
    <ion-button id="favoritebutton" (click)="addToFavorites()">Add To Favorites</ion-button>
  </ion-toolbar>
</ion-footer>